@media screen and (max-width: 1199px) {
  .for-desktop {
    display: none;
  }
}

.titles {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.projects {
  display: flex;

  & li:not(:last-child) {
    margin-right: 30px;
  }
}

.projects-img {
  position: relative;
}

.img-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--other-color-text);
  padding: 27px 82px;
  background-color: rgba(47, 48, 58, 0.8);
}
