.clients {
  display: flex;
}

.clients-link {
  display: flex;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;

  transition: border 250ms var(--timing-function);

  &:focus,
  &:hover {
    border-color: var(--accent-color);
  }
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-icon {
  fill: #afb1b8;
  /*widht: 44px;*/
  height: 49px;

  transition: fill 250ms var(--timing-function);

  .clients-link:focus &,
  .clients-link:hover & {
    fill: var(--accent-color);
  }
}
