:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --other-color-text: #ffffff;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --logo-color: #2196f3;
  --secondary-bg-color: #2f303a;
  --other-bg-color: #f5f4fa;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
